@use "./base.scss";

:root {
  --broken-link-color: #6b6a6a; 
  --broken-link-bg: #b4b3b340;

}


a.broken-link {
  color: var(--broken-link-color) !important;
  background-color: var(--broken-link-bg);
  opacity: 1;
  
  // Keep existing styles
  cursor: not-allowed;
  text-decoration: none;
}
